.account-table-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding:4px;
}

.lead-tag {
    display: inline-block;  
    max-width: 80px;       
    white-space: nowrap;  
    overflow: hidden;      
    text-overflow: ellipsis; 
    vertical-align: middle; 
  }