.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;    
    gap: 6px;                      
    height: 650px;                  
    width: 100%;                    
    transition: all 0.3s ease-in-out;
  }
  
  .grid-box {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    padding: 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
  }
  
  .grid-box.expanded {
    grid-column: 1 / -1; 
    grid-row: 1 / -1;   
  }
  
  .grid-container.grid-collapsed .grid-box:not(.expanded) {
    display: none;  
  }
  
  .grid-box, .grid-container {
    transition: all 0.3s ease-in-out;
  }


  .main-graph-container{
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .card-text{
    font-size: 16px;
  }
  .card-text-result{
    font-size: 20px;
  }