.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6px;
  height: 650px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.grid-box {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  padding: 4px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}

.grid-box.expanded {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.grid-container.grid-collapsed .grid-box:not(.expanded) {
  display: none;
}

.grid-box,
.grid-container {
  transition: all 0.3s ease-in-out;
}

.main-graph-container {
  max-height: 90vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card-text {
  font-size: 16px;
}
.card-text-result {
  font-size: 20px;
  font-weight: 500;
}

.graph-card-1 {
  background: linear-gradient(to right, #fe9365, #feb798);
  width: 100%;
}

.graph-card-2 {
  background: linear-gradient(to right, #0ac282, #0df3a3);
  width: 100%;
}

.graph-card-3 {
  background: linear-gradient(to right, #fe5d70, #fe909d);
  width: 100%;
}

.graph-card-4 {
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  width: 100%;
}

.lead-graph-card-column{
  width: 58%;
  height: 400px;
}

.lead-graph-card-pie{
  width: 40%;
  height: 400px;
}