.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;    
    gap: 6px;                      
    height: 680px;                  
    width: 100%;                    
    transition: all 0.3s ease-in-out;
  }
  
  .grid-box {
    background-color: rgb(233, 229, 229);
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgb(233, 229, 229);
  }
  
  .grid-box.expanded {
    grid-column: 1 / -1; 
    grid-row: 1 / -1;   
  }
  
  .grid-container.grid-collapsed .grid-box:not(.expanded) {
    display: none;  
  }
  
  .grid-box, .grid-container {
    transition: all 0.3s ease-in-out;
  }
  