.product-container {
  background-color: F3F3E0;
  border-radius: 5px;
  padding-bottom: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.product-container-header {
  padding: 6px 8px;
  border-radius: 5px;
  background: #f3f1f1;
}

.product-container-description{
    padding: 6px 8px;
}

.product-header{
  position: sticky;
  top: 0px;
  padding: 8px 6px;
  z-index: 10;
  background-color: #f3f1f1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}