.dragger-submit-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 12px 0px;
}



.file-upload-container {
    border: 1px dashed #d9d9d9;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    transition: border-color 0.3s;
  }
  
  .file-upload-container:focus-within {
    border-color: #1890ff; /* Change to your active border color */
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); /* Optional shadow effect */
  }
  
  .file-upload-container p {
    margin: 0;
  }
  
  .upload-button-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .uploaded-files-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
  }
  
  .uploaded-files-list li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .uploaded-files-list a {
    text-decoration: none;
    color: #1890ff; /* Link color */
  }
  
  .uploaded-files-list a:hover {
    text-decoration: underline;
  }
  